body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 220px;
  margin: 15px 0px 50px 0px;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.Nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav a {
  text-decoration: none;
  color: #333;
}

.Nav a:hover {
  color: #007bff;
}

.App-link {
  color: #61dafb;
}

.info-background {
  display: flex;
  justify-content: center;
  background-color: #495E57;
  width: 100%;
}

/* h1 .CallToActionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
}

.CallToActionMain {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.root {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}